#mainhead {
	background-color: #FFB9B7;
	width: 400px;
	font-family: 'Delius';
	border: dotted 4px #FC8F8C;
	padding: 10px;
	text-align: center;
	height: 40px;
}

#mainlist {

	color: red;
	font-family: 'Amiri';
	font-size: 20px;
}


#quote {
	border: solid 3px;
	padding: 5px;
	margin: 5px;
	width: 600px;
}

img {
 	border: groove 10px #D17B79;
 }

body {
	background-color: #FDE8DD;
}


#header {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-weight: bold;
	font-family: 'Alice';
}

#main {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.button {
	border: solid #47A09E 3px;
	margin: 3px;
	width: 200px;
	padding: 5px;
	background-color: #E9E7E6;
	text-align: center;

}

.background {
	background-color:#FFB9B7;
	padding: 5px;
	width: 300px;
	border-style: inset;
}

.info {
	background-color: #EEC8CD;
	width: 500px;
	padding: 10px;
	padding-left: 30px;
	font-family: "Monaco", Monospace;
	font-size: 12px;
}

